/* TOGGLE 
.aw-toggle {
	float: right;
	line-height: 50px;
	margin-right: 15px;
	
	color: #fff;
}
*/

.aw-toggle {
	vertical-align: super;
    margin-left: 48px;
	
	color: #fff;
}

.aw-toggle:hover {
	color: #fff;
	box-shadow: 0px 0px 20px #a6a6a6;
}
  

/* MENU */
.aw-menu {
	margin-top: 11px;
	font-size: 1.1em;
}

.aw-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aw-menu > ul a {
	display: block;
	padding: 10px 15px;
	
	text-decoration: none;
	font-weight: 500;
	color: #373737;
} 

.aw-menu > ul i {
	margin-right: 6px;
}

.aw-menu > ul a:hover, .aw-menu > ul a:focus {
	background-color: #dfdfdf;
	border-left: 3px solid #a80000;
}

.aw-menu > ul .is-selected {
	border-left: 3px solid #a80000;
	background-color: #f3f3f3;
}

.aw-menu > ul .is-selected a {
	margin-left: -3px;
	color: #a80000;
}

/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 20px 0;
	
	font-size: 1.5em;
	color: #373737;
}

#frmLogout\:logoutBt {
	color: white;
    border: 1px solid white;
    float: right;
    margin-top: 10px;
    margin-right: 35px;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

#frmLogout\:logoutBt:hover {
	background-color: #3c3c3c;
	color: #eeeeee;
}

#frmLogout {
	float: right;
}